---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<div class="card-container">
  {% for post in posts %}
    <div class="post-card">
      <a href="{{ post.url | relative_url }}">
        {%- capture thumbnail -%}
          {% if post.thumbnail-img %}
            {{ post.thumbnail-img }}
          {% elsif post.cover-img %}
            {% if post.cover-img.first %}
              {{ post.cover-img[0].first.first }}
            {% else %}
              {{ post.cover-img }}
            {% endif %}
          {% else %}
          {% endif %}
        {% endcapture %}
        {% assign thumbnail=thumbnail | strip %}

        {% if thumbnail != "" %}
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail" class="card-image">
        {% endif %}

        <div class="card-content">
          <h3 class="card-title">{{ post.title | strip_html }}</h3>
          
          {% if post.subtitle %}
            <h4 class="card-subtitle">
            {{ post.subtitle | strip_html }}
            </h4>
          {% endif %}

          <p class="card-excerpt">
            {% assign excerpt_length = site.excerpt_length | default: 30 %}
            {{ post.excerpt | strip_html | truncatewords: excerpt_length }}
          </p>
          
          <p class="card-meta">
            {% if post.author %}
              <span>By <strong>{{ post.author | strip_html }}</strong></span><br>
            {% endif %}
            {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
            <span class="card-date">Posted on {{ post.date | date: date_format }}</span>
          </p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
