---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<div class="card-container">
  {% for post in posts %}
    <div class="post-card">
      <a href="{{ post.url | relative_url }}">
        
        {%- capture thumbnail -%}
          {% if post.thumbnail-img %}
            {{ post.thumbnail-img }}
          {% elsif post.cover-img %}
            {% if post.cover-img.first %}
              {{ post.cover-img[0].first.first }}
            {% else %}
              {{ post.cover-img }}
            {% endif %}
          {% else %}
          {% endif %}
        {% endcapture %}
        {% assign thumbnail=thumbnail | strip %}

        {% if thumbnail != "" %}
          <img src="{{ thumbnail | relative_url }}" alt="{{ post.title }}" class="card-image">
        {% endif %}

        <div class="card-content">
          <h3 class="card-title">{{ post.title | strip_html }}</h3>
          
          <p class="card-excerpt">
            {% if post.subtitle %}
              {{ post.subtitle | strip_html | truncate: 120 }}
            {% else %}
              {{ post.excerpt | strip_html | truncatewords: 20 }}
            {% endif %}
          </p>
          
          <div class="card-meta">
            <span class="card-date">{{ post.date | date: "%B %-d, %Y" }}</span>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
